body {
    font-family: "monospace";
    padding-top: 2rem;
    }
    
    h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
    }

    #container {
    background-color: lightpink;
    width:90%;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 3rem;
    border: 5px;
    display:flex
    flex-directio

    }

#header{
display:flex





}